.contenedor {
    display: flex;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    height: 400px;
    max-width: 800px;
    transition: all 1s ease;
    margin: 10px;
    background-color: aliceblue;
}

.form-recuperacion {
    padding: 0 3px;
    background-color: aliceblue;
    align-items: center;
    margin-top: 10%;
    margin-left: 20%;
}
  
.form-recuperacion h2 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 10px;
}
  