* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    background: url('../imagenes/sala.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    position: relative;
    display: grid;
    backdrop-filter: blur(20px);
    place-items: center;
    height: 100vh;
    width: 100%;
}
