.container {
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.582);
    border-radius: 8px;
    border: solid 2px #ffffff;
    margin: 6% 15% 1% 15%;
}

.subtitulo {
    margin: 10px 30%;
    align-items: center;
    padding: 10px 10px 10px 7pc;
}

.container-items {
    display: flex;
    flex-direction: column;
    background-color: rgba(31, 20, 20, 0.582);
    border-radius: 8px;
    border: solid 2px #ffffff;
    margin: 10px 10%;
}

.buscador-container {
    background: #000000d7;
    border-radius: 8px;
    margin: 40px 30px;
    border: 3px solid #000000;
}

.buscador {
    padding: 10px 20px;
    margin: 10px 30px;
}

.titulo {
    color: #000000;
}

.venta-container {
    margin: 5% 10% 10% 10%;
    border-radius: 8px;
}

.input {
    width: 100%;
    padding: 10px 50px 10px 10px;
    margin: 10px 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-buscar {
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 5px;
    padding: 10px 40px;
    margin: 0px 0px 40px 0px;
}


.btn {
    padding: 10px;
    margin: 5px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-enviar {
    background: green;
}

.btn-eliminar {
    background-color: #ff0000;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: auto;
}

.producto-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    background-color: #ffffff5b;
}
.producto-card p {
    margin: 0;
    color: #333;
}

.producto-en-venta {
    margin: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 2px #ffffff;
    border-radius: 8px;
    background-color: rgba(31, 20, 20, 0.582);
    padding: 10px;
    align-content: end
}

.producto-info {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr; 
    align-items: center;
    gap: 10px; 
    width: 100%;
}

.producto-info h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.input-cantidad {
    width: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 50%;
}

.producto-info p {
    margin: 0px 30px;
    color: #ddd;
}

.total {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    text-align: right;
    color: #333;
}

.label {
    width: 50%;
    margin-left: 40%;
}

.btn-agregar {
    background-color: #4CAF50; 
    color: white;
    border: none;
    margin-left: 30px;
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-agregar:hover {
    background-color: #45a049;
    transform: scale(1.05); 
}

.btn-agregar:active {
    background-color: #3e8e41; 
    transform: scale(0.95); 
}

.search-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin: 10px 30px 0px 10px;
    color: #000000;
}

.search-input {
    border-radius: 4px;
    border: solid 2px #000000;
    padding: 5px;
    margin-bottom: 15px;

}


