<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'css/stylesc.css'%}" rel="stylesheet">
  <title>Ana Style</title>
</head>
<body>
  <header>
    <div class="logo">AS</div>
    <div class="menu-container">
      <label for="menu-toggle" class="menu-button"></label>
      <ul class="menu">
        <li><a href="{% url 'index'%}">Inicio</a><span class="menu-text">Inicio</span></li>
        <li><a href="{% url 'catalogo'%}">Catalogo</a><span class="menu-text">Catalogo</span></li>
      </ul>
    </div>
  </header>
  <section class="productos">
    <div class="content-center">
        <div>
            <h2>Catálogo de Productos</h2>
            <p>Aquí podrás ver todos los productos disponibles.</p>
            <p>Categoria por prenda de ropa</p>
            <div class="d-flex justify-content-center flex-wrap">
                <div class="categoria">
                    <div class="imagen">
                        <img src="{% static 'imagenes/invierno.jpg' %}" class="d-block" alt="...">
                        <a href="{% url 'catalogo_por_categoria' 'CAMISETAS' %}" class="btn btn-category">Camisetas</a>
                    </div>
                </div>
                <div class="categoria">
                    <div class="imagen">
                        <img src="{% static 'imagenes/invierno.jpg' %}" class="d-block" alt="...">
                        <a href="{% url 'catalogo_por_categoria' 'PANTALONES' %}" class="btn btn-category">Pantalones</a>
                    </div>
                </div>
                <div class="categoria">
                    <div class="imagen">
                        <img src="{% static 'imagenes/invierno.jpg' %}" class="d-block" alt="...">
                        <a href="{% url 'catalogo_por_categoria' 'GUANTES' %}" class="btn btn-category">Guantes</a>
                    </div>
                </div>
                <div class="categoria">
                    <div class="imagen">
                        <img src="{% static 'imagenes/invierno.jpg' %}" class="d-block" alt="...">
                        <a href="{% url 'catalogo_por_categoria' 'CAMISAS' %}" class="btn btn-category">Camisas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  <script src="{% static 'js/index.js'%}"></script>
</body>
</html>
