<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'css/stylesc.css'%}" rel="stylesheet">
  <title>Ana Style</title>
</head>
<body>
  <header>
    <div class="logo">AS</div>
    <div class="menu-container">
      <label for="menu-toggle" class="menu-button"></label>
      <ul class="menu">
        <li><a href="{% url 'catalogo'%}">Catalogo</a><span class="menu-text">Catalogo</span></li>
      </ul>
    </div>
  </header>
  <div class="contenido">
    <h2><span class="color">Ana</span> Style</h2>
    <p>Hola, Nunca veo el fracaso como un fracaso<span class="color">sino solo como el juego que debo jugar y ganar atentamente Ana Style</span></p>
  </div>

  <script src="{% static 'js/index.js'%}"></script>
</body>
</html>
