<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/productos.css'%}" rel="stylesheet">
    <title>Catálogo - {{ filtro }}</title>
</head>
<body>
    <nav class="custom-navbar fixed-top">
        <div class="navbar-container">
            <a class="navbar-brand" href="index.html">
                <img src="{% static 'imagenes/AnaStyle.png'%}" alt="Logo" class="navbar-logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-list">
                    <li class="navbar-item">
                        <a class="navbar-link" href="{% url 'index'%}">Inicio</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h2>Catálogo de Productos - {{ filtro }}</h2>
    <div class="productos">
        {% for producto in productos %}
            <div class="producto">
                <h3>{{ producto.idProducto.get_nombre_producto }}</h3>
                <p>Descripción: {{ producto.descripcion }}</p>
                <p>Cantidad disponible: {{ producto.cantidades }}</p>
                <p>Precio: ${{ producto.idProducto.precio }}</p>
                <p>Color: {{ producto.categoriaColor.color }}</p>
                <p>Género: {{ producto.categoriaGenero.genero }}</p>
                <button>!lo quiero!</button>
            </div>
        {% empty %}
            <p>No hay productos disponibles en esta categoría.</p>
        {% endfor %}
    </div>
</body>
</html>